[qid="BorrowerSelectedProperty"],
[qid="BorrowerInContract"],
[qid="BorrowerPropertyType"],
[qid="BorrowerPropertyTypeUnits"],
[qid="BorrowerPropertyTypeUnitsDisabled"],
[qid="BorrowerREOPropertyType"],
[qid="BorrowerREOPropertyTypeUnits"],
[qid="BorrowerREOPropertyTypeUnitsDisabled"],
[qid="BorrowerEmployerStartDate"],
[qid="BorrowerEmployerEndDate"],
[qid="BorrowerBusinessStartDate"],
[qid="BorrowerBusinessEndDate"],
[qid="BorrowerEmployerWorkYear"],
[qid="BorrowerEmployerWorkMonths"],
[qid="BorrowerIncomeRentPropertyType"],
[qid="BorrowerIncomeRentUnits"],
[qid="BorrowerIncomeRentUnitsDisabled"],
[qid="BorrowerIncomeAlimonySupportAmount"],
[qid="BorrowerIncomeAlimonySupportStartDate"],
[qid="BorrowerAlimonyChildName"],
[qid="ChildSupportName"],
[qid="BorrowerAlimonyChildDOB"],
[qid="ChildSupportDOB"],
[qid="RealEstateFirstName"],
[qid="RealEstateLastName"],
[qid="BorrowerCity"],
[qid="BorrowerState"],
[qid="BorrowerOweFirst"],
[qid="BorrowerOweSecond"],
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1,
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm2{width:50%;float:left;padding:0;padding-left:15px}

[qid="BorrowerPropertyType"],
[qid="BorrowerREOPropertyType"],
[qid="BorrowerSelectedProperty"],
[qid="BorrowerEmployerStartDate"],
[qid="BorrowerBusinessStartDate"],
[qid="BorrowerEmployerWorkYear"],
[qid="BorrowerIncomeRentPropertyType"],
[qid="BorrowerIncomeAlimonySupportAmount"],
[qid="BorrowerAlimonyChildName"],
[qid="RealEstateFirstName"],
[qid="ChildSupportName"],
[qid="BorrowerCity"],
[qid="BorrowerOweFirst"],
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1{padding:0;padding-right:15px}

[qid="BorrowerLastName"],
[qid="SpouseLastName"],
[qid="SpouseLastNameMarried"]{width:65%;float:left;padding:0;padding-right:15px;}
[qid="BorrowerSuffix"],
[qid="SpouseSuffix"],
[qid="SpouseSuffixMarried"]{width:35%;float:left;padding:0;padding-left:15px;}

[qid="Ethnicity"],
[qid="Race"],
[qid="Sex"],
[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"],
[qid="BorrowerHispanicOrLatino"],
[qid="BorrowerHispanicOrLatinoNHL"],
[qid="BorrowerResidancy"],
[qid="BorrowerAsianType"],
[qid="BorrowerBlackOrAfrician"],
[qid="BorrowerResidancyNH"],
[qid="BorrowerResidancyWH"]{width:48%;float:left;}

[qid="Ethnicity"],
[qid="Race"],
[qid="Sex"],
[qid="BorrowerHispanicOrLatino"],
[qid="BorrowerResidancy"],
[qid="BorrowerBlackOrAfrician"]{margin-right:4%;}

[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"]{padding-left:15px;}

[ssid="IncomeLogoSubSection"]{width:610px;margin:0 auto;}
[ssid="ProfileSubSection"],
[ssid="IncomeSubSection"]{width:50%;margin:0 auto;}
[ssid="DeclarationSubSection"],
[ssid="SummarySubSection"]{width:75%;margin:0 auto;}

[qid="SpouseFirstName"]{margin-top:20px;}

[qid="BorrowerAlimonyChildName"] .form-group,
[qid="BorrowerAlimonyChildDOB"] .form-group,
[qid="ChildSupportName"] .form-group,
[qid="ChildSupportDOB"] .form-group{margin-bottom:15px;}

[qid="BorrowerAlimonyChildName"] .ui-control-error span,
[qid="BorrowerAlimonyChildDOB"] .ui-control-error span,
[qid="ChildSupportName"] .ui-control-error span,
[qid="ChildSupportDOB"] .ui-control-error span{bottom: 10px;}

[qid="propertCurrentlyOwned"] .floating-group{margin:0}
[qid="BorrowerIncomeRentInsTaxDues"] .form-group{margin-bottom:10px;}

[qid="BorrowerMaritalStatus"] .ui-popover{position: relative;top: 4px;display:inline;}

[qid="BorrowerRefinanceCashOutIndicator"] .form-group{margin-bottom:0;}
[qid="BorrowerCashOutAmount"] .form-group{margin-top:40px;}

[qid="BorrowerPropertyType"] .form-group,
[qid="BorrowerPropertyTypeUnits"] .form-group,
[qid="BorrowerPropertyTypeUnitsDisabled"] .form-group{margin-top:15px;}

[qid="BorrowerInContract"] .form-group{margin: 0 0 20px 0;}

[qid="RefinanceProperty"]{margin-top:-15px;}
[qid="BorrowerAdditionalAddress"]{margin-top:15px;}

[qid="BorrowerCurrentStreetAddress"] .addressdet,
[qid="BorrowerCurrentStreetAddressCheckBoxFalse"] .addressdet,
[qid="BorrowerCurrentStreetAddressCheckBoxTrue"] .addressdet{margin-top: 30px;}

[qid="ExplanationNote"] .ui-label,
[qid="noMortgage"] .ui-label{color: @secondary1;font-size:@default-f14; line-height:@default-f14}
[qid="ExplanationNote"] .ui-label{color: @primary1;margin-bottom:10px;}

[qid="SpouseResendInvite"] .resendinvite {line-height:normal;margin-bottom:20px;}

[qid="BorrowerCombineMonthlyHousingExpense"] .ui-label{color: @primary1;}

[qid="DemographicInformation"] .ui-label{color: @primary1;margin:0 0 10px 0;}
[qid="PurposeCollectingInformation"] .ui-label{color: @grey;font-size:@default-f13; line-height:@default-f20;margin:0;padding-bottom:20px;}

[qid="BorrowerIndividualOrJointCredit"] .question-label{margin-bottom:0;}
[qid="BorrowerMaritalStatus"],
[qid="BorrowerSpouseLegalNameMessage"]{margin-bottom:0;}
[qid="BorrowerSpouseLegalNameMessage"] .ui-label{margin-bottom:10px;}

[qid="BorrowerPreferredEmail"],
[qid="BorrowerFirstName"],
[qid="BorrowerLoanAmount"],
[qid="BorrowerEmployerAddress"],
[qid="BorrowerSocialSecurityIncome"],
[qid="BorrowerInterestLastYear"],
[qid="BorrowerOtherIncomePerMonth"],
[qid="BorrowerIncomeRentPropertyAddress"]{margin-top:15px;}

#Email16 [qid="BorrowerPreferredEmail"]{margin-top:0;}

[qid="BorrowerAddSpouseAsCoBorrower"]{margin-top:15px;}
[qid="BorrowerAddSpouseAsCoBorrower"] .floating-group{padding-top:15px;}
[qid="BorrowerAddSpouseAsCoBorrower"] .form-group{margin: 0 0 10px 0;}

[qid="BorrowerMaritalStatus"] .ui-control-error,
[qid="BorrowerMaritalStatusMarried"] .ui-control-error{bottom: -5px;}
[qid="BorrowerMaritalStatusMarried"] .ui-popover{display:inline-block;vertical-align: bottom;}
[qid="BorrowerSpouseLegalName"] .ui-label{color: @primary1;font-size:22px; line-height:24px;margin-bottom:20px;margin-top: 15px;}
[qid="BorrowerSpouseLegalNameMarried"] .ui-label{color: @primary1;font-size:22px; line-height:24px;margin-bottom:20px;}

[qid="BorrowerAddSpouseAsCoBorrower"] .ui-control-error span{bottom: 4px;}

[qid="BorrowerPrimaryBorrowerREO"] .question-label{display:none}

[qid="SpouseSuffixMarried"] .form-group{margin: 0 0 20px 0;}
[qid="BorrowerBusinessOwn25percent"] .form-group{margin: 0 0 10px 0;}

[qid="BorrowerFirstMortgagePI"],
[qid="BorrowerOtherFinancingPI"],
[qid="BorrowerHazardInsurance"],
[qid="BorrowerRealEstateTaxes"],
[qid="BorrowerMortgageInsurance"],
[qid="BorrowerHomeOwnerAssocDues"],
[qid="BorrowerCombineMonthlyExpenseOther"],
[qid="BorrowerCombineMonthlyExpenseTotal"],
[qid="BorrowerFirstMortgagePICheckBoxTrue"],
[qid="BorrowerOtherFinancingPICheckBoxTrue"],
[qid="BorrowerHazardInsuranceCheckBoxTrue"],
[qid="BorrowerRealEstateTaxesCheckBoxTrue"],
[qid="BorrowerMortgageInsuranceCheckBoxTrue"],
[qid="BorrowerHomeOwnerAssocDuesCheckBoxTrue"],
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxTrue"],
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"],
[qid="BorrowerFirstMortgagePICheckBoxFalse"],
[qid="BorrowerOtherFinancingPICheckBoxFalse"],
[qid="BorrowerHazardInsuranceCheckBoxFalse"],
[qid="BorrowerRealEstateTaxesCheckBoxFalse"],
[qid="BorrowerMortgageInsuranceCheckBoxFalse"],
[qid="BorrowerHomeOwnerAssocDuesCheckBoxFalse"],
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxFalse"],
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxFalse"]{position: absolute;left: 0;top:4px;z-index: 99;}

[qid="BorrowerFirstMortgagePI"] .ui-label,
[qid="BorrowerOtherFinancingPI"] .ui-label,
[qid="BorrowerHazardInsurance"] .ui-label,
[qid="BorrowerRealEstateTaxes"] .ui-label,
[qid="BorrowerMortgageInsurance"] .ui-label,
[qid="BorrowerHomeOwnerAssocDues"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOther"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotal"] .ui-label,
[qid="BorrowerFirstMortgagePICheckBoxTrue"] .ui-label,
[qid="BorrowerOtherFinancingPICheckBoxTrue"] .ui-label,
[qid="BorrowerHazardInsuranceCheckBoxTrue"] .ui-label,
[qid="BorrowerRealEstateTaxesCheckBoxTrue"] .ui-label,
[qid="BorrowerMortgageInsuranceCheckBoxTrue"] .ui-label,
[qid="BorrowerHomeOwnerAssocDuesCheckBoxTrue"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxTrue"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"] .ui-label,
[qid="BorrowerFirstMortgagePICheckBoxFalse"] .ui-label,
[qid="BorrowerOtherFinancingPICheckBoxFalse"] .ui-label,
[qid="BorrowerHazardInsuranceCheckBoxFalse"] .ui-label,
[qid="BorrowerRealEstateTaxesCheckBoxFalse"] .ui-label,
[qid="BorrowerMortgageInsuranceCheckBoxFalse"] .ui-label,
[qid="BorrowerHomeOwnerAssocDuesCheckBoxFalse"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxFalse"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxFalse"] .ui-label{margin:0;}

[qid="BorrowerFirstMortgagePIValue"] .form-group,
[qid="BorrowerOtherFinancingPIValue"] .form-group,
[qid="BorrowerHazardInsuranceValue"] .form-group,
[qid="BorrowerRealEstateTaxesValue"] .form-group,
[qid="BorrowerMortgageInsuranceValue"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValue"] .form-group,
[qid="BorrowerFirstMortgagePIValueCheckBoxTrue"] .form-group,
[qid="BorrowerOtherFinancingPIValueCheckBoxTrue"] .form-group,
[qid="BorrowerHazardInsuranceValueCheckBoxTrue"] .form-group,
[qid="BorrowerRealEstateTaxesValueCheckBoxTrue"] .form-group,
[qid="BorrowerMortgageInsuranceValueCheckBoxTrue"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValueCheckBoxTrue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValueCheckBoxTrue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValueCheckBoxTrue"] .form-group,
[qid="BorrowerFirstMortgagePIValueCheckBoxFalse"] .form-group,
[qid="BorrowerOtherFinancingPIValueCheckBoxFalse"] .form-group,
[qid="BorrowerHazardInsuranceValueCheckBoxFalse"] .form-group,
[qid="BorrowerRealEstateTaxesValueCheckBoxFalse"] .form-group,
[qid="BorrowerMortgageInsuranceValueCheckBoxFalse"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValueCheckBoxFalse"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValueCheckBoxFalse"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValueCheckBoxFalse"] .form-group{width: 45%;float: right;}

[qid="TypesMonthlyAvgLabel"] .ui-label,
[qid="TypesMonthlyAvg"] .ui-label{margin-bottom:0;font-size: 13px;}

[qid="HowlongLineofWork"] .ui-label{margin-bottom:20px;}
[qid="ListRealEstateProperties"] .ui-label{margin-bottom:0;}
[qid="BorrowerREO"] .form-group,
[qid="BorrowerRealEstateAgent"] .form-group{margin-bottom:20px;}

[qid="BorrowerCombineMonthlyExpenseTotal"] .ui-label{color:@secondary1;}

[qid="BorrowerREOInsTaxDues"] .form-group{margin-bottom:10px;}

[qid="IfApplicableId"] .ui-label,
[qid="IfApplicableChildId"] .ui-label,
[qid="OptionalOtherIncome"] .ui-label{color:@secondary1;margin-bottom: 0;}
[qid="OtherTypesIncome"] .ui-label{margin-bottom:0}

[qid="BorrowerPrimaryBorrowerREO"] .applicant-info .title{color:@secondary1;}

[qid="BorrowerExistingVALoan"] .form-group{margin-bottom:20px;}
[qid="BorrowerMonthlyChildCareVA"] .form-group{margin-bottom:35px;}

[qid="BorrowerEmployerWorkYear"] .form-group,
[qid="BorrowerEmployerWorkMonths"] .form-group{margin-bottom:15px;}
[qid="BorrowerEmployerWorkYear"] .ui-control-error span,
[qid="BorrowerEmployerWorkMonths"] .ui-control-error span{bottom:10px}

[qid="SelectAllSource"] .ui-label{margin-bottom:20px; font-weight:600}
[qid="OurAutomatedSystem"] .ui-label{margin-bottom:40px;}

[ssid="SummarySubSection"] .ui-label{margin-bottom:20px;}

[qid="BySigningBelow"] .ui-label,
[qid="CompleteInformation"] .ui-label,
[qid="LblPropertySecurity"] .ui-label,
[qid="LblElectronicRecords"] .ui-label,
[qid="LblDelinquency"] .ui-label,
[qid="LblSharingInformation"] .ui-label{color:@primary1;font-size:18px;}

[qid="IfApplicableId"],
[qid="IfApplicableChildId"],
[qid="OptionalOtherIncome"]{margin-bottom:10px}

[qid="RealEstateNote"] .ui-label,
[qid="ListRealEstateNote"] .ui-label{color:@secondary1;}

[qid="AddCoBorrower"] .ui-control-error{height: 25px;}

[qid="PropertiesCurrentlyOwn"] .ui-label{margin-bottom:0;}

[qid="AcknowledgementJointCredit"] .ui-label{color:@secondary1;font-style:italic}
[qid="AdditionalExpenses"] .ui-label{margin-bottom: 25px;}

[qid="IndividualInvitation"] .ui-label,
[qid="AcknowledgementJointCredit"] .ui-label{margin-bottom:20px;}

[qid="Calculator"]{width: 25%;float:left;}
[qid="NetRentalMonthlyIncome"]{width: 42%;float:left;}
[qid="AddAnotherProperty"]{width: 33%;float:left;}
[qid="NetRentalMonthlyIncome"] .ui-label{color:@secondary1}

[qid="Delete"],
[qid="Pipeline"]{width:auto;float:left;}
[qid="AddAnotherPropertyDefault"] .ui-label,
[qid="AddAnotherProperty"] .ui-label,
[qid="Delete"] .ui-label{color:@secondary1;}
[qid="Pipeline"] .ui-label{font-size: 20px;padding:0 25px;}

[ssid="DeclarationSubSection"]{margin-bottom:30px;}
[ssid="DeclarationSubSection"] .question:nth-child(2),
[ssid="DeclarationSubSection"] .question:nth-child(6),
[ssid="DeclarationSubSection"] .question:nth-child(10),
[ssid="DeclarationSubSection"] .question:nth-child(14),
[ssid="DeclarationSubSection"] .question:nth-child(18),
[ssid="DeclarationSubSection"] .question:nth-child(21),
[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){background:@declaration-on;}
[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){margin-top:5px;padding:20px 10px}
[ssid="DeclarationSubSection"] .question:nth-child(29) .custom-checkbox,
[ssid="DeclarationSubSection"] .question:nth-child(31) .custom-checkbox,
[ssid="DeclarationSubSection"] .question:nth-child(35) .custom-checkbox{margin:0;}

[ssid="DeclarationSubSection"] .question .ui-control-error{ height:inherit}
[ssid="DeclarationSubSection"] .question .ui-control-error span{position:relative;bottom:inherit;left:inherit;padding:0 15px 10px 15px;}

[qid="BorrowerRentOrOwn"] .ui-control-error span{bottom:-5px}
[qid="BorrowerPhone"] .ui-control-error span{bottom:15px}

[qid="BorrowerCashOutType"]{margin-bottom:30px;}

[qid="BorrowerOwnshipInterest"] .declaration-container{background:@declaration-on;}

[qid="DeclarationIfYes"] .ui-label{color:@primary1;font-size:14px;margin-bottom:10px;}
[qid="PropertyDidYouOwn"] .ui-label,
[qid="HoldTitleToHome"] .ui-label{color:@primary1;}

[qid="TypeProperty"],
[qid="TitleHold"]{width:20%;float:left;}
[qid="PropertyDidYouOwn"],
[qid="HoldTitleToHome"]{width:50%;float:left;}
[qid="BorrowerTypeOfPropertyOwn"],
[qid="BorrowerHoldTitle"]{width:30%;float:left;}

[qid="PropertyDidYouOwn"],
[qid="BorrowerTypeOfPropertyOwn"]{margin-top:20px;}

[qid="Ethnicity"] .ui-label,
[qid="Race"] .ui-label,
[qid="Sex"] .ui-label{margin:0;}

[qid="ReviewBelowAccuracy"] .ui-label{margin-bottom:10px;}

[qid="Acknowledgement"] .ui-label,
[qid="AcknowledgmentAndAgreement"] .ui-label{color:@secondary1;font-size:28px;margin-bottom:20px;}

[qid="EachUndersignedLabel"] .ui-label,
[qid="EachUndersignedherebyLabel"] .ui-label{font-size:14px;margin-bottom:20px;}

[qid="BorrowerIsCoBorrower"]{margin-top: 20px;}

[qid="BorrowerPhone"] .form-group,
[qid="BorrowerSpouseOccupied"] .form-group{margin-bottom: 20px;}
[qid="BorrowerMonthlyRentalAmount"] .form-group{margin-top: 10px;}

[qid="BorrowerCellPhone"]{margin-top: 10px;}

[qid="BorrowerLookingToSell"] .floating-group{margin-top: -15px;}

[qid="BorrowerVASelectOptions"] .tree-view{padding:0;margin-bottom:25px;}

#loanAmount .form-group{margin-bottom:0;}
.loan-calc-wrapper .col-md-12:last-child .ui-control-error span{bottom:-4px;}

@media only screen and (max-width:1025px){

[ssid="IncomeLogoSubSection"]{width:80%;margin:0 auto;}
[ssid="IncomeSubSection"],
[ssid="ProfileSubSection"],
[ssid="DeclarationSubSection"],
[ssid="SummarySubSection"]{width:83%;margin:0 auto;}

}

@media only screen and (max-width:800px){

[qid="AddAnotherProperty"]{width: 40%;}
[qid="NetRentalMonthlyIncome"]{width: 50%}

[qid="TypeProperty"],
[qid="TitleHold"]{display:none}
[qid="PropertyDidYouOwn"],
[qid="HoldTitleToHome"]{width:50%;float:left;}
[qid="BorrowerTypeOfPropertyOwn"],
[qid="BorrowerHoldTitle"]{width:50%;float:left;}

[ssid="IncomeLogoSubSection"]{width:92%;margin:0 auto;}
[ssid="IncomeSubSection"],
[ssid="ProfileSubSection"],
[ssid="DeclarationSubSection"],
[ssid="SummarySubSection"]{width:83%;margin:0 auto;}

}

@media only screen and (max-width:767px){

.clearfix.questionFieldName{float:none;padding:0;width:100%;}
[ssid="ProfileSubSection"] .clearfix.questionFieldName{width:auto;}

[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1,
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm2{padding:0;width:100%;}

[qid="BorrowerIsCoBorrower"]{margin-top:0 !important;}

[qid="BorrowerSelectedProperty"] .form-group{margin-bottom:20px;}
[qid="BorrowerPropertyTypeUnits"] .form-group,
[qid="BorrowerMonthlyRentalAmount"] .form-group{margin-top:0;}

[qid="BorrowerCashOutType"]{margin-bottom:30px !important;}
[qid="RefinanceProperty"]{margin-top:-20px !important;}

[qid="BorrowerEmployerWorkYear"] .form-group{margin-bottom:30px;}
[qid="BorrowerEmployerWorkMonths"] .form-group{margin-bottom:10px;}

[qid="BorrowerFirstName"],
[qid="BorrowerPreferredEmail"],
[qid="BorrowerLoanAmount"],
[qid="BorrowerEmployerAddress"],
[qid="BorrowerSocialSecurityIncome"],
[qid="BorrowerInterestLastYear"],
[qid="BorrowerOtherIncomePerMonth"],
[qid="BorrowerIncomeRentPropertyAddress"]{margin-top:20px !important;}

[qid="SpouseSuffixMarried"] .form-group{margin: 0 0 30px 0;}

[ssid="ProfileSubSection"],
[ssid="IncomeSubSection"],
[ssid="IncomeLogoSubSection"],
[ssid="DeclarationSubSection"],
[ssid="SummarySubSection"]{width:100%;margin:0 auto;}

[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){padding:15px}

[qid="BorrowerAlimonyChildName"] .form-group,
[qid="BorrowerAlimonyChildDOB"] .form-group,
[qid="ChildSupportName"] .form-group,
[qid="ChildSupportDOB"] .form-group{margin-bottom:30px;}

[qid="BorrowerAlimonyChildName"] .ui-control-error span,
[qid="BorrowerAlimonyChildDOB"] .ui-control-error span,
[qid="ChildSupportName"] .ui-control-error span,
[qid="ChildSupportDOB"] .ui-control-error span {bottom: 25px;}

[qid="SpousePreferredEmail"] .ui-control-error{height:auto;}
[qid="SpousePreferredEmail"] .ui-control-error span{position:relative}

/*[qid="BorrowerMaritalStatus"],*/
[qid="BorrowerRentOrOwn"]{margin-bottom:30px !important;}

[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"]{margin-top:20px !important;padding-left:0;}

[qid="BorrowerLookingToSell"]{margin-top:10px !important;}

[qid="PropertyDidYouOwn"],
[qid="BorrowerTypeOfPropertyOwn"]{margin-bottom:20px;}

[qid="PropertyDidYouOwn"] .ui-label{margin: 25px 0 10px 0}
[qid="HoldTitleToHome"] .ui-label{margin: 0 0 25px 0}

[qid="IfApplicableId"] .ui-label{margin-bottom:10px;}

[qid="Calculator"]{width: 25% !important;float:left !important;}
[qid="NetRentalMonthlyIncome"]{width: 42% !important;float:left !important;}
[qid="AddAnotherProperty"]{width: 33% !important;float:left !important;text-align: right;}

[qid="Delete"],
[qid="Pipeline"]{width:auto !important;float:left !important;}

[qid="Acknowledgement"] .ui-label,
[qid="AcknowledgmentAndAgreement"] .ui-label{line-height:32px;}

}

@media only screen and (max-width:575px){

[qid="Calculator"]{width: 35% !important;float:left !important;}
[qid="NetRentalMonthlyIncome"]{width: 65% !important;float:left !important;}
[qid="AddAnotherProperty"]{width:auto !important;float:left !important;text-align: left;}

}

@media only screen and (max-width:380px){

[qid="RealEstateEmail"] .ui-control-error{height: 35px;}
[qid="BorrowerMaritalStatus"] .ui-popover{left: 246px;}

}