//Tenant Styleguide - NAF

// Roboto Font
@import url('#FontUrl#');

@fontfamily: #FontFamily#;

// Brand colors
@white: #fff;
@dark: #333;
@darkgrey: #777;
@grey: #95989a;
@light-grey: #ebebeb;
@default-grey: #95989a;
@security-links: #00bdbf;

// primary colors
@primary1: #Primary1#;
@primary2: #Primary2#;

// secondary colors
@secondary1: #Secondary1#;
@secondary2: #Secondary2#;

// tertiary colors
@tertiary: #Tertiary#;

// danger colors
@danger: #dc1400;

// success colors
@success: #53ab45;
@success2: #67cc56;

// primary colors
@disabled: #bebebe;

// income-icons colors
@emp: #ec5f67;
@child: #f99157;
@selfemp: #fac863;
@military: #99c794;
@rental: #5fb3b3;
@socsecurity: #6699cc;
@dividend: #c594c5;
@other: #a1a1a1;
@purchase: #3da8f8;

@purple: #c886d8;

// tour header bg
@tour-header-bg: #fafafa;

// lender portal search colors
@search-bg: #f4f4f4;
@search-icn: #a3a3a3;

// notification list colors
@notify-list-bg: #f2f2f2;

// application/active/closed list colors
@lenderlist-bg: #f8f8f8;

@float-label-clr: #666;

// notification bell
@notify: #00bdbf;

// upload-bg
@upload-bg: #d8f0ff;

// declaration-bg
@declaration-on: #f7f7f7;
@declaration-off: #fff;

@lendar-header-bg: #006699;
@header-grey: #fafafa;

@leftpanel-bg: #95989a;
@leftpanel-tab-brdr: #e0e0e0;
@alert-summary: #ffc200;
@alert-summary-lighter: #ffed6f;

// dashboard stats bg
@dash-stats-bg: #f0f3f4;

// bank logo bg
@bank-logo-bg: #fafafa;

// font sizes
@default-f20: 20px;
@default-f18: 18px;
@default-f16: 16px;
@default-f15: 15px;
@default-f14: 14px;
@default-f13: 13px;
@default-f12: 12px;
@default-f11: 11px;
@default-f10: 10px;

// logo sizes
@logo-large:240px;
@logo-mob: 180px;

// Headings
@default-h1: 32px;
@default-h3: 24px;

@close-icon: 22px;

// angle down and up
@angle-arw: #999;

// border colors
@btm-grey: #f0f0f0;
@btm-tab: #ccc;
@toggle-tab: #ccc;
@toggle-yesno: #ccc;
@docm-tab: #eee;

// margins
@margin0: 0;