<link rel="import" href="url-parser.html">
<link rel="import" href="session-manager.html">
<dom-module id="http-request">
    <template>
        <url-parser id="url"></url-parser>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "http-request",
            properties: {
                sessionConfig: {
                    type: Object
                }
            },
            ready: function () {
                var self = this;

                window.jQuery ? self.init()() : window.addEventListener("WebComponentsReady", self.init());
            },
            init: function () {
                var self = this;
                return function () {
                }
            },
            parseUrl: function (url) {
                // Allows ability to pass in parameters defined in the URL of the current page
                // example: this.$.http("/endpoint/:param");
                var urlParams = this.$.url.getParams();
                var ajaxParams = this.$.url.getParams(url);

                if (!urlParams) { return url }
                for (var params in ajaxParams) {
                    url = url.replace(":" + params, urlParams[params]);
                }
                url = url.replace(/:/g, "");
                return url;
            },
            get: function (url, base, cb, ecb) {
                return this._request(url, undefined, base, "GET", true, cb, ecb);
            },
            post: function (url, data, base, cb, ecb) {
                return this._request(url, data, base, "POST", true, cb, ecb);
            },
            put: function (url, data, base, cb, ecb) {
                return this._request(url, data, base, "PUT", true, cb, ecb);
            },
            putSync: function () {
                return this._request(url, data, base, "PUT", false, cb, ecb);
            },
            delete: function (url, data, base, cb, ecb) {
                return this._request(url, data, base, "DELETE", true, cb, ecb);
            },
            _request: function (url, data, base, type, async, cb, ecb) {
                var self = this;
                var base = base || "";
                // Store url in "a" tag to access href API
                var a = $("<a>", { href: url })[0];

                //Due to issue in IE
                //https://connect.microsoft.com/IE/Feedback/Details/1002846
                var pathName = (a.pathname.indexOf("/") !== 0) ? ("/" + a.pathname) : a.pathname;

                pathName = self.parseUrl(pathName);
                var requestUrl = base + pathName + a.search;

                // Get user token if available otherwise use app token
                var token = self.$.session.get("token");

                // Check if body is sent
                var sendBody = ["POST", "PUT", "DELETE"];
                var requestInfo = {
                    type: type,
                    cache: false,
                    url: requestUrl,
                    data: JSON.stringify(data),
                    async: async,
                    contentType: sendBody.indexOf(type) !== -1 ? "application/json" : "",
                    beforeSend: function (xhr) {
                        if (token) {
                            xhr.setRequestHeader('Authorization', "Bearer " + token);
                        }
                    }
                }

                /*if (!base)
                 console.warn(Error("Attempted request with no base url."), requestInfo);*/
                if (!type)
                    console.warn(Error("Attempted request with no type.", requestInfo));

                if (self.sessionConfig) {
                    var requestStatus = {};
                    var isAuthorized = self.sessionConfig.isAuthorized();
                    var request = isAuthorized.then(function () {
                        return requestStatus.ajax = $.ajax(requestInfo);
                    });
                    requestStatus.q = request.done(function (data) {
                        if (typeof cb !== "function") { return }
                        cb(data);
                    })
                            .fail(function (response) {
                                if (typeof ecb !== "function") { return }
                                ecb(response);
                            });
                    return requestStatus;
                } else {
                    return $.ajax(requestInfo)
                            .done(function (data) {
                                if (typeof cb !== "function") { return }
                                cb(data);
                            })
                            .fail(function (response) {
                                if (typeof ecb !== "function") { return }
                                ecb(response);
                            });
                }
            }
        })
    </script>
</dom-module>