<link rel="import" href="config.html">
<dom-module id="alloy-tenant">
    <style>
    </style>
    <template>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
    </template>
    <script>
        (function() {
            var Tenant = function() {
                this.is = "alloy-tenant";
                this.observers = ["getTenantInformation(configReady)"];
                this.properties = {
                    alloyTenant: {
                        type: Object,
                        notify: true
                    },
                    tenantSet: {
                        type: Boolean,
                        notify: true
                    }
                };
                this.getTenantInformation = function(configReady) {
                    var self = this;
                    if (!configReady) { return }

                    var tenantSet = Tenant.prototype.tenantRetrieved;
                    if (tenantSet) {
                        window.tenant = self.alloyTenant = Tenant.prototype.tenant;
                        self.tenantSet = tenantSet;
                        return;
                    }

                    self.$.config.getConfigService("tenant", function(tenantInformation) {
                        window.tenant = Tenant.prototype.tenant = self.alloyTenant = tenantInformation;
                        Tenant.prototype.tenantRetrieved = true;
                        document.getElementById("_tenantDisplayNameInternal").innerText=tenantInformation.tenantDisplayName;
                    }, function(error) {
                        self.notifyError(error)
                    });
                }
                this.notifyError = function (error) {
                    var modal = document.getElementById('browsersCompatible');
                    if (modal && modal.style.display !== "none") {
                        modal.style.display = "none"
                        document.write("<h1>Unable to open " + window.location.href + "</h1><p>Please try again after some time. If the issue persists, please contact customer support with this message : Error code " +  error.status + ", " + new Date() + "</p>")
                    }
                }
            }

            Tenant.prototype.tenantRetrieved = false;

            var tenant = new Tenant();
            Polymer(tenant);
        })();
    </script>
</dom-module>