<dom-module id="url-parser">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "url-parser",
            ready: function() {
                this.params = this.getParams();
            },
            getParams: function(hash) {
                var hash = hash || document.location.hash;
                if (hash != undefined && hash != ""){
                    var path = hash.replace(/#\//g, "");
                    var $params = path.split("/");
                    if($params.length > 0){
                        var parsedUrl = $params[0].replace(/-/g, '/') + ".html";
                        var params = {};
                        if ($params.length > 1) {
                            for (var i = 0; i < $params.length; i++) {
                                var pair = $params[i].split(":");
                                if (pair.length == 2 && arguments.length === 0) {
                                    pair[1] = pair[1].replace(/\%20/g, " ");
                                    params[pair[0]] = pair[1];
                                } else if (pair.length == 2) {
                                    pair[1] = pair[1].replace(/\%20/g, " ");
                                    params[pair[1]] = pair[0];
                                }
                            }
                        }
                    }
                }
                return params;
            }
        });
    </script>
</dom-module>