<link rel="import" href="../services/config.html">
<link rel="import" href="../services/tenant.html">
<dom-module id="html-import">
    <template>
        <alloy-config id="config"
                      alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant"
                      alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "html-import",
            properties: {
                htmlHref: {
                    type: String
                },
            },
            observers: [
                "importComponent(htmlHref, configuration, tenantConfig)"
            ],
            importComponent: function (href, configuration, tenantConfig) {
                if (!href || !configuration || !tenantConfig) { return }
                var self = this;
                var base = configuration.base;
                var tenant = tenantConfig.name || tenantConfig.Name;

                var url = base + tenant + "/" + href;

                self.importHref(url, self.handleSuccess.bind(self), self.handleError.bind(self));
            },

            handleSuccess: function () {
                this.fire("import-succeeded", {}, { bubbles: false })
            },

            handleError: function () {
                this.fire("import-failed", {}, { bubbles: false })
            }
        });
    </script>
</dom-module>