<dom-module id="img-ext">
    <template>
    </template>
    <script>
        Polymer({
            is: "img-ext",
            extends: "img",
            created: function () {
                var a = document.createElement("a");
                a.href = this.src;
                //Due to issue in IE
                //https://connect.microsoft.com/IE/Feedback/Details/1002846
                var pathName = (this.src.indexOf("/") === 0 && a.pathname.indexOf("/") !== 0) ? ("/" + a.pathname) : a.pathname;

                this.src = window.location.origin + pathName;
            }
        });
    </script>
</dom-module>