<link rel="import" href="../services/config.html">
<link rel="import" href="../services/tenant.html">
<link rel="import" href="micro-app.html">
<link rel="import" href="html-import.html">
<link rel="import" href="img.html">
<link rel="import" href="../services/session-manager.html">
<link rel="import" href="../services/url-parser.html">
<dom-module id="platform-shell">
    <style>
        #host {
            height: 100%;
        }

    </style>
    <template>
        <div id="host"></div>
        <session-manager id="session" security-service-url="{{ configuration.services.security  }}"></session-manager>
        <alloy-config id="coreConfig" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenant}}"></alloy-tenant>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "platform-shell",
            observers: [
                "importComponents(configuration, appId, tenant)"
            ],
            listeners: {
                "is-not-authorized": "handleIsNotAuthorized"
            },
            properties: {
                appId: {
                    type: Boolean,
                    value: ""
                }
            },
            ready: function () {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;

                self.authorization = null;
                self.configuration = null;

                return function () {
                    self.setAppId();
                    window.addEventListener("hashchange", function () {
                        self.setAppId();
                    });
                }
            },
            setAppId: function () {
                var splitUrl = window.location.hash.slice(2).split('/');
                var urlAppId = splitUrl[0];
                if (this.appId !== urlAppId) {
                    this.set("appId", urlAppId);
                }
            },
            initAuthHeartBeat: function () {
                var self = this;
                if (this.authHeartBeat) return;
                var heartBeatInterval = parseInt(self.configuration.AuthHeartBeatIntervalInSeconds);
                if (isNaN(heartBeatInterval) || heartBeatInterval <= 0) {
                    return;
                }

                self.authHeartBeat = setInterval(function () {
                    self.$.session.isAuthorized()
                        .fail(self.handleIsNotAuthorized.bind(self))
                }, heartBeatInterval * 1000)
            },
            initIdleHeartBeat: function () {
                var self = this;
                var idleTimeout = parseInt(self.configuration.IdleTimeoutInMinutes);
                if (isNaN(idleTimeout) || idleTimeout <= 0) {
                    return;
                }
                var timers = {
                    timerStartTime: 0,
                    //waitTimeWarning: this.timewarn ? this.timewarn : 0,
                    waitTimeIdle: idleTimeout * 60,
                    timeWarning: 0,
                    timeIdle: 0,
                    ticker: 0,
                    timeNow: 0
                };

                var tick = function () {
                    if (timers == null) {
                        return;
                    }
                    timers.ticker = setTimeout(function () {
                        timers.timeNow = parseInt(((new Date()).getTime() / 1000).toFixed());
                        if (timers.timeNow > timers.timeIdle) {
                            console.log("Logged out at " + new Date())
                            self.handleIsNotAuthorized.bind(self)();
                            clearTimeout(timers.ticker);
                            timers = null;
                            return;
                        }
                        //} else if (timers.timeNow > timers.timeWarning) {
                        //document.getElementById('web-component-ez-idle-timeout').style.opacity = 1;
                        // } else {
                        //     // waiting
                        // }
                        tick();
                    }, 1000);
                };

                var startTicker = function () {
                    if (timers == null) {
                        return;
                    }
                    timers.timerStartTime = parseInt(((new Date()).getTime() / 1000).toFixed());
                    // timers.timeWarning = parseInt(timers.timerStartTime) + parseInt(timers.waitTimeWarning);
                    timers.timeIdle = parseInt(timers.timerStartTime) + parseInt(timers.waitTimeIdle);
                    tick();
                };
                var resetTicker = function () {
                    if (timers == null) {
                        return;
                    }
                    // document.getElementById('web-component-ez-idle-timeout').style.opacity = 0;
                    clearTimeout(timers.ticker);
                    startTicker();
                };

                var body = document.getElementsByTagName('body')[0];
                body.addEventListener('mousemove', function () {
                    resetTicker();
                });
                body.addEventListener('keyup', function () {
                    if (timers == null) {
                        return;
                    }
                    // document.getElementById('web-component-ez-idle-timeout').style.opacity = 0;
                    clearTimeout(timers.ticker);
                    startTicker();
                });

                startTicker();
            },
            importComponents: function (configuration, appId, tenant) {
                if (configuration && tenant && !appId) {
                    window.location.hash = this.configuration.public.url;
                }
                if (!configuration || !appId || !tenant) {
                    return
                }
                var self = this;
                var base = configuration.base;
                var currentApp = configuration.apps[appId];

                if(!currentApp){
                    window.location.hash = this.configuration.public.url;
                }

                // TODO extract this into a method. This is unclear.
                var loadLayout = function (authorizationStatus) {
                    // Choose either the selected app layout or a default layout
                    var layout = currentApp && currentApp.layout ||
                        configuration[authorizationStatus].layout;

                    var url = base + (tenant.name || tenant.Name) + "/" + layout;

                    self.importHref(
                        url,
                        self.loadLayoutSuccess.bind(self),
                        self.loadLayoutError.bind(self));
                }

                // If the app is open to unauthenticated users, stop checking for authentication and use public layout
                if (currentApp!=null && currentApp.public) {
                    self.stopAuthHeartBeat();
                    loadLayout("public");
                    return;
                }

                // Check authorization from authorization service
                // If authentication is required, begin heartbeat and use private layout
                self.$.session.isAuthorized()
                    .done(function () {
                        self.initAuthHeartBeat();
                        self.initIdleHeartBeat();
                        loadLayout("private")
                    });
            },

            // TODO rename to conform to predicate naming conventions
            layoutLoaded: function (e) {
                var id = Polymer
                    .dom(e.target.import.body)
                    .querySelector("dom-module")
                    .getAttribute("id");
                return id === this.loadedLayout;
            },

            loadLayoutSuccess: function (e) {
                // Block loading if layout has already loaded
                // TODO move guard clause into attachComponent
                if (this.layoutLoaded(e)) {
                    return
                }
                this.attachComponent(e);
            },

            loadLayoutError: function (error) {
                console.warn("Unable to load layout.", error)
            },

            // TODO convert target to local variable. This method is never called with two args.
            // get attrs
            attachComponent: function (e, target) {
                target = target || Polymer.dom(this.$.host);

                var childNodes = target.childNodes;
                for (var i = 0; i < childNodes.length; i++) {
                    target.removeChild(childNodes[i]);
                }

                var id = Polymer
                    .dom(e.target.import.body)
                    .querySelector("dom-module")
                    .getAttribute("id");
                var element = document.createElement(id);
                //TODO: Set the portal service configuration (this.configuration.services) to window.config.service
                element.config = this.configuration;

                target.appendChild(element);
                target.flush();

                this.loadedLayout = id;
            },

            handleIsNotAuthorized: function () {
                this.stopAuthHeartBeat();
                this.logout();
                this.redirectToPublicLayout();
            },

            logout: function () {
                var self = this;
                var token = self.$.session.get("token");
                return self.$.http.get("/logout/", "")
                    .fail(function(){})
                    .done(function () {
                        self.$.session.remove("token");
                        self.$.session.remove("ip-address");
                        self.$.session.remove("userId");
                        self.$.session.remove(token);
                        //self.fire("is-not-authorized");
                        if (!_.isUndefined(window.applozic)) {
                            $applozic.fn.applozic('logout');
                        }
                    })
            },

            redirectToPublicLayout: function () {
                window.location.hash = this.configuration.public.url;
            },

            stopAuthHeartBeat: function () {
                if (!this.authHeartBeat) return;
                clearInterval(this.authHeartBeat);
            }
        });

    </script>
</dom-module>
